 button {
    font-size:10px;
    background-color: green;
    padding: 10px 15px;
    color:white;
    width:100px;

}

.count{
    font-size:30px;
}

button.reset {
    font-size:20px;
    background-color: red;
 

} 